@use "../utils" as *;

main{
    display: flex;
    flex-direction: column;
    .resa{
        background-color: $lgrey;
        text-align: center;
        &__h1{
            padding: 2rem 3rem 0.6rem 3rem;
            font-weight: bold;
            font-size: 1.5rem;
            font-family: "roboto";
        }
        &__p{
            color: grey;
            font-size: 1.1rem;
            font-family: "roboto"; 
            padding: 0rem 1.5rem 1rem 1.5rem;    
        }
        &__anchor{
            height: 6.5rem;  
            padding-top: 1.5rem;
            &__a{
                @include button;
                font-family: "roboto";
            }  
        }
    }
    .function{
        padding-left: 1rem;
        padding-right: 1rem;
        &__title{
            padding: 2.5rem 0rem 2.5rem 0rem;
            font-family: "roboto";
            font-weight: bold;
            font-size: 1.5rem;
        }
        &__bloc{
            padding-left: 1rem;
            @include flex(column);
            padding-bottom: 2.5rem;
            gap: 1.5rem;
                &__link{
                    box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
                    0 2px 8px -5px rgba(0, 0, 0, 0.7);
                    display: flex;
                    align-items: center;
                    border-radius: 1.5rem;
                    border: transparent;
                    padding: 1.65rem;
                    background: $lgrey;
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    transition-duration: 0.3s;
                    font-family: "roboto";
                    width: 100%;
                    &__round {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: absolute;
                      background: $purple;
                      border-radius: 50%;
                      width: 1.5rem;
                      height: 1.5rem;
                      margin-left: -2.5rem;
                      color: white;
                      p {
                        font-size: 0.8rem;
                      }
                    }
                    &__text {
                      display: flex;
                      align-items: center;
                      p {
                        padding-left: 1.5rem;
                      }
                      i {
                        font-size: 1.2rem;
                        color: $grey;
                      }
                    }
                    &:hover {
                        box-shadow: 0 0.3px 2.5px -3px rgba(0, 0, 0, 0.35),
                        0 3px 15px -3px rgba(0, 0, 0, 0.7);
                      background: $special;
                      transition-duration: 0.5s;
                      i {
                        color: $purple;
                      }
                    }
                }
        }
    }
    #restaurants{
        background-color: $lgrey;
        padding: 0rem 1rem 2rem 1rem;
        .restaurants__title{
            padding: 2.5rem 0rem 1.5rem 0rem;
            font-family: "roboto";
            font-weight: bold;
            font-size: 1.5rem;
        }
        .restaurants__bloc{
            display: grid;
            gap: 1.5rem;
            &__link{
                border-radius: 1rem;
                height: 15rem;
                box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
                0 2px 15px -5px rgba(0, 0, 0, 0.7);
                text-decoration: none;
                color: black;
                position: relative;
                &__new{
                    position: absolute;
                    width: 5rem;
                    right: 2rem;
                    margin-bottom: 10rem;
                    margin-top: 1rem;
                    background: $lgreen;
                    text-align: center;
                    height: 2rem;
                    border-radius: 5px;
                    p{
                        font-family: "roboto";
                        color: $green;
                        padding-top: 0.4rem;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
                &__img{
                    height: 70%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 1rem 1rem 0 0;
                }
                &__info{
                    height: 30%;
                    display: grid;
                    grid-template-columns: 90% 10%;
                    &__text{
                        padding: 0.8rem 0 0 0.8rem;
                        font-size: 1rem;
                        font-family: "roboto";
                        h3{
                            padding-bottom: 0.2rem;
                            font-weight: bold;
                        }
                        
                    }
                    &__heart{
                        display: flex;
                       align-items: center;
                       justify-content: right;
                       padding-right: 1rem;
                       padding-bottom: 0.5rem;
                    }
                }
                &:hover {
                    box-shadow: 0 0.3px 2.5px -3px rgba(0, 0, 0, 0.35),
                    0 2px 17px -3px rgba(0, 0, 0, 0.7);
                }
            }
        }
    }
    .restaurant{
        &__img{
            img{
            max-height: 450px;
            width: 100%;
            object-fit: cover;
            z-index: 0;
            }
        }
        &__bloc{
            @include flex(column);
            position: relative;
            gap: 1.5rem;
            margin-top: -50px;
            z-index: 1;
            background-color: $lgrey;
            padding: 1.5rem 1rem 2rem 1rem;
            border-radius: 2rem 2rem 0 0;
            &__header{
                display: flex;
                flex-direction: row;
                gap: 1.8rem;
                &__title{
                    font-weight: bold;
                    font-family: "shrikhand", cursive;
                    font-size: 1.8rem;
                }
                i{
                    text-align: right;
                    padding-right: 1rem;
                    font-size: 1.8rem;
                    padding-top: 0.4rem;
                }
            }
            &__menu{
                @include flex(column);
                gap: 1.2rem;
                &__title{
                    font-family: "roboto";
                    font-size: 1rem;
                    text-transform: uppercase;
                    text-decoration:  3px underline $lgreen;
                }
                &__info{
                    display: flex;
                    overflow: hidden;
                    width: 100%;
                    background-color: white;
                    height: 3.7rem;
                    border-radius: 15px;
                    box-shadow: 0 0.3px 1.3px -5px rgba(0, 0, 0, 0.35),
                    0 2px 15px -5px rgba(0, 0, 0, 0.7);
                    .icone {
                        width: 5rem;
                        background: $lgreen;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition-duration: 0.5s;
                        transition-timing-function: ease;
                        margin-right: -5rem;
                        > i {
                          font-size: 1rem;
                          color: $lgreen;
                          padding: 0.2rem;
                          border-radius: 50%;
                          background: white;
                          transition-duration: 0.5s;
                        }
                    }
                    &__text{
                        flex: 10;
                        padding-left: 0.5rem;
                        @include flex(column);
                        justify-content: center;
                        font-family: "roboto";
                        h2{
                            font-weight: bold;
                            font-size: 1rem;
                            padding-bottom: 0.3rem;
                        }
                        h3{
                            font-size: 0.9rem;
                        }
                    }
                    p{
                        flex: 1;
                        font-family: "roboto";
                        font-weight: bold;
                        padding-top: 2.1rem;
                        text-align: end;
                        padding-right: 1rem;
                    }
                    &:hover{
                        box-shadow: 0 0.3px 2.5px -3px rgba(0, 0, 0, 0.35),
                        0 2px 17px -3px rgba(0, 0, 0, 0.7);
                    }
                }
                padding-bottom: 2rem; 
            }
            &__btn-command{
                height: 60px;
                text-align: center;
                &__a{
                    @include button;
                    font-family: "roboto";
                }
            }
        }
    }
}