@use "../utils" as *;

/* responsive index */

@media (min-width: 768px){
    main{
        .function{
            &__title{
                text-align: center;
            }
            &__bloc{
                display: flex;
                flex-direction: row;
            }
        }
        .restaurants{
            &__title{
                text-align: center;
            }
            &__bloc{
                padding-right: 1.5rem;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 50% 50%;
                &__link{
                    &__new{
                        display: none;
                    }
                }
            }
        }
    }
    #footer{
        .footer__container{
            h2{
                text-align: center;
            }
            &__list{
                @include flex(row);
                justify-content: center;
                gap: 1rem,
            }
        }
    }
}

@media (min-width: 1140px){
    main{
        .function{
            &__bloc{
                padding: 0 5rem 2rem 5rem;
            }
        }
        #restaurants{
            .restaurants__bloc{
                padding: 0 15% 0 15%;
            }
        }
        .restaurant{
            &__bloc{
                padding: 1.5rem 20rem 2rem 20rem;
            }
        }
    }
}