@use "../utils" as *;

/* responsive index */

@media (min-width: 768px){
    main{
        .function{
            &__title{
                text-align: center;
            }
            &__bloc{
                display: flex;
                flex-direction: row;
            }
        }
        .restaurants{
            &__title{
                text-align: center;
            }
            &__bloc{
                padding-right: 1.5rem;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 50% 50%;
            }
        }
    }
    #footer{
        .footer__container{
            h2{
                text-align: center;
            }
            &__list{
                @include flex(row);
                justify-content: center;
                gap: 1rem,
            }
        }
    }
}

@media (min-width: 1140px){
    main{
        .function{
            &__bloc{
                padding: 0 5rem 2rem 5rem;
            }
        }
        #restaurants{
            display: flex;
            flex-direction: column;
            align-items: center;
            .restaurants__bloc{
                width: 65rem;
            }
        }
        .restaurant{
            display: flex;
            flex-direction: column;
            justify-content: center;
            &__bloc{
                padding: 1.5rem 25% 0 25%;
            }
        }
    }
}